{% extends 'base.html' %}


{% block title %}
    Registrar departamento
{% endblock title %}
    


{% block content %}
    

{% include 'includes/header.html' %}


    <div class="grid-container">
        <div class="grid-x">
            <h1 class="cell">Registrar departamento</h1>
            <form class="cell callout grid-x grid-margin-x" method="POST"> {% csrf_token %}
                <div class="medium-6 cell">
                    <label>Nombre:
                            {{form.nombre}}
                    </label>
                </div> 
                <div class="medium-6 cell">
                    <label>Apellido:
                            {{form.nombre}}
                    </label>
                </div> 
                <div class="medium-6 cell">
                    <label>Trabajo:
                            {{form.nombre}}
                    </label>
                </div> 
                <div class="medium-6 cell">
                    <label>Departamento:
                            {{form.nombre}}
                    </label>
                </div> 
                <div class="medium-6 cell">
                    <label>Shortname:
                            {{form.nombre}}
                    </label>
                </div> 
                
                <div class="medium-8 cell">
                    <button class="button success" type="submit"> Guardar </button>
                </div> 
            </form>
        </div>
    </div>

{% endblock content %}
    

